<!-- <footer>
    <div class="container">
        <div class="row justify-content-center">
            <p>All rights reserved c 2021</p>
        </div>
    </div>
</footer> -->

<!-- js files -->
<script src="/js/proper.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>